.map-container {
	height: 0;
	overflow: hidden;
	padding-bottom: 60%; /* desired aspect ratio */
	position: relative;
}

.gmap {
	border: 0;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

