.map {
    width: 1000px;
    display: block;
    margin: 100px auto 0 auto;
}

.contact-box {
	max-width: 750px;
	margin: 0 auto;

	form {
		width: 100%
	}

	p {
		margin: 0;
	}

	.contact-form, .contact-details  {
		@media #{$desktop} {
			-webkit-flex: 1;
			flex: 1;
		}
		margin: 0 30px;
	}

	.contact-details {
		font-size: .9em;
	}
}