.hero-image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url("../images/hero.jpg");
	height: 800px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.hero-text {
	font-family: "Montserrat", sans-serif;
	text-align: center;
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: rgb(241, 238, 238);
  }


.hero-text-main {
	font-weight: 500;
	font-size: 55px;
}

.hero-text-sub {
	font-family: "Montserrat", sans-serif;
	font-weight: 200;
	font-size: 22px;
	color: rgb(240, 236, 236);
  }


.nvdental-logo {
	color: white;
	font-weight: 700;
	font-size: 23px;
	font-family: "Montserrat", sans-serif;

	a {
		text-decoration: none;
	}

	a:hover {
		color: #ffffff;
		text-decoration: none;
	}
}

.services-container-bg {
	background: #f5f5f5;
}

.services {
	margin: 0;
	padding: 100px 0;
	text-align: center;
	
	
	.services-block {
		margin-top: 50px;
		margin-bottom: 100px;

		h4 {
			margin-top: 20px;
			color: #2b2b40;
			font-family: "Montserrat", sans-serif;
		}
	
		p {
			margin-top: 15px;
			font-size: 16px;
			color: #000000;
			font-family: "Montserrat", sans-serif;
		}
	}

	i {
		margin-bottom: 50px;
	}
}

.portfolio {
	background: #f5f5f5;
	padding-top: 100px;
	padding-bottom: 100px;
	font-family: "Montserrat", sans-serif;

	h2 {
		font-weight: 600;
		margin-bottom: 2px;
		color: #2b2b40;
	}

	h5 {
		font-weight: 400;
		color: #6e6e6e;
		
	}

	p {
		padding-top: 8px;
		font-size: 16px;
	}

	img {
		width: 200px;
		height: auto;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

.container {
	max-width: 1140px;
	margin: 0 auto;
	position: relative;
	padding: 0 20px;

}

header {
	color: #fff;
	padding: 20px 0;
	background: $brand-color; /* Old browsers */
	background: linear-gradient(to bottom, $brand-color 0%, $middle-gradient-color 100%) no-repeat $brand-color;

	a {
		color: #fff;
		text-decoration: none;
		z-index: 1;
		position: relative;

		&:hover {
			text-decoration: none;
		}
	}

	.company-name {
		font-size: 1.7em;
		line-height: 0;

		a {
			display: inline-block;
		}

		img {
			display: block;
			width: auto;
		}
	}
}

.content {
	background: #fff;
	padding: 1px 0 0 0;
	position: relative;
}


footer {
	font-family: "Montserrat", sans-serif;
	padding-top: 35px;
	padding-bottom: 35px;
	font-size: 15px;
	bottom: 0;
	left: 0;
	right: 0;
	background: #07080f;
	color: #ffffff;

	p {
		color: #ffffff;
		font-size: 15px;
		margin: 1px;
		font-family: "Montserrat", sans-serif;
		position: relative;
		font-weight: 400;
		text-align: right;
	}

	a, p {
		color: #fff;
		text-decoration: none;

		&:hover {
			color: #fff;
		}
	}
}

html, body {
	padding:0; 
	margin:0; 
	height:100%;
	background-color: #f5f5f5;
}

.nv-content {
	min-height: 95%;
}


.page {
	margin-bottom: 0;
	padding-top: 40px;
	padding-bottom: 80px;

	h2 {
		font-family: "Montserrat", sans-serif;
		text-align: center;
		font-weight: 600;
		color: #07080f;
	}
}

.subtext {
	margin-top: 10px;
	text-align: center;
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	color: #07080f;
}